.alignStart {
  text-align: start;
}
.alignCenter {
  text-align: center;
}
.alignEnd {
  text-align: end;
}

.overflowTruncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overflowClip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.overflowWrap {
  white-space: normal;
}

.scrollContainer {
  overflow: auto;
}

.stickyHeader {
  --color: rgb(222, 211, 211);
  position: sticky;
  top: 0;
  background: var(--color);
  z-index: 1;
  border-bottom: 1px solid #000000;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
